/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    color: #e0e0e0;
  }
  
  h1 {
    text-align: center;
    color: #f5f5f5;
  }
  
  /* Navbar Styles */
  .navbar {
    background-color: #333;
    padding: 15px;
    text-align: center;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline-block;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .navbar ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  
  /* Form Container Styles */
  .formContainer {
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    background-color: #2c2c2c;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    animation: fadeIn 2s ease;
    text-align: center;
  }
  
  /* Input and Button Styles */
  input[type="file"] {
    background-color: #444;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .deleteBtn {
    background-color: #FF4136;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .deleteBtn:hover {
    background-color: #e63931;
    transform: scale(1.05);
  }
  
  /* Footer Styles */
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  /* Fade In Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  